.Section4 {
    display: flex;
    flex-direction: column;
    padding: 160px 80px;
    gap: 64px;
    width: auto;
    height: 1086px;
    border-top: 1px solid #FAF0E6;
}

.Section4 h1{
    width: 629px;
    height: 72px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}