.Section6 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 160px 80px;
    border-top: 1px solid #FAF0E6;
}

.Section6 img{
    max-width: 546px;
    max-height: 365px;
}

.Section6 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 468px;
    height: 314px;
}

.Section6 div h1{
    width: 468px;
    height: 54px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

.Section6 div p{
    width: 468px;
    height: 120px;    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.section6-li{
    width: 271px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    list-style-type: square;
}

.section6-li::marker{
    font-size: 20px;
    border-radius: 0px;
    color: #FF4F00;
}