.Section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 80px;
    border-top: 1px solid #FAF0E6;
}

.Section3 div{
    display: flex;
    flex-direction: column;
}

.Section3 div h1{
    width: 629px;
    height: 72px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

.Section3 div p{
    width: 629px;
    height: 90px;    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.section3-li{
    width: 271px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.section3-li::marker{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 0px;
    color: hotpink;
}

.Section3 div div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}